arviz==0.9.0
cftime==1.2.1
contextvars==2.4
cycler==0.10.0
fastprogress==0.2.4
h5py==2.10.0
immutables==0.14
kiwisolver==1.2.0
matplotlib==3.3.0
netCDF4==1.5.4
numpy==1.19.1
packaging==20.4
pandas==1.1.0
patsy==0.5.1
Pillow==7.2.0
pymc3==3.9.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scipy==1.5.1
six==1.15.0
Theano==1.0.5
typing-extensions==3.7.4.2
xarray==0.16.0
